<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/base">
<th:block layout:fragment="content">
<div class="container">


    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post" th:object="${registerForm}" th:action="@{/auth/register}">
                        <div th:replace="fragments/page_element :: form_errors"></div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')} ? 'has-error' : '' ">
                            <label class="col-md-4 control-label">First Name</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" th:field="*{firstName}" placeholder="First Name"/>
                            </div>

                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')} ? 'has-error' : '' ">
                            <label class="col-md-4 control-label">Last Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" th:field="*{lastName}" placeholder="Last Name"/>
                            </div>

                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error' : '' ">
                            <label class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input type="email4" class="form-control" th:field="*{email}" placeholder="E-mail"/>
                            </div>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('favoriteTeam')} ? 'has-error' : '' ">
                            <label class="col-md-4 control-label">Favorite Team</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" th:field="*{favoriteTeam}" placeholder="Duke" />
                            </div>
                        </div>
                        <!--<div class="turing">-->
                            <!--<label class="control-label" for="t">r08oT s4y5 wUt</label>-->
                            <!--<input type="text" class="form-control" name="t" id="t" />-->
                        <!--</div>-->

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-user"></i>Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>
</html>