<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/base">
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Super Admin Dashboard</div>
                <div class="panel-body">
                    <span sec:authentication="name"></span> is logged in as superuser
                    <br>
                    <div class="list-group">
                        <div class="list-group-item">
                            <a th:href="@{/app/super/reset}">Reset</a>: reset tournament
                        </div>
                        <div class="list-group-item">
                            <a th:href="@{/app/super/setup}">Setup</a>: set team ranks
                        </div>
                        <div class="list-group-item">
                            <a th:href="@{/app/super/submit}">Submit</a>: open bracket submission
                        </div>
                        <div class="list-group-item">
                            <a th:href="@{/app/super/activate}">Activate</a>: close bracket submission
                        </div>
                    </div>
                </div>
            </div>
            @include('common.back_button',[ 'back_link'=>url('/home')])
        </div>
    </div>
</th:block>
</html>