<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/base">
<th:block layout:fragment="content">
    <div class="jumbotron">
        <h2>Welcome <span sec:authentication="name"></span> </h2>
        <p>
            Welcome to our new site! We hope you are as exited as we are for our
            leap into the digital age. With these changes there will undoubtedly
            be growing pains but if you come across a problem please click the
            <a th:href="@{/app/feedback}">Feedback</a> link here or in the footer
            and we will work to rectify things as quickly as possible! Also feel
            free to just let us know what you think, good or bad. With that out of
            the way, go ahead and play around!
        </p>
        <p>
        <div class="btn-group col-md-offset-4">
        <!--<div class="btn-group col-md-offset-4" th:if="${tourneyState.equals('active')}">-->
            <a class="btn btn-primary btn-lg" th:href="@{/brackets}" role="button">
                <i class="fa fa-btn fa-sitemap"></i> Brackets </a>
            <a class="btn btn-primary btn-lg" th:href="@{/standings}" role="button">
                <i class="fa fa-btn fa-list-ol"></i> Standings </a>
            <a class="btn btn-primary btn-lg" th:href="@{/posts}" role="button">
                <i class="fa fa-btn fa-commenting"></i> Posts </a>
        </div>
        </p>
    </div>
    <div class="panel panel-default" th:if="${not #lists.isEmpty(brackets)}">
        <div class="panel-heading">
            Your Brackets
        </div>

        <div class="panel-body">
            <table class="table table-striped">

                <!-- Table Headings -->
                <thead>
                    <th>Bracket Name</th>
                    <th>Winner</th>
                    <th>Score</th>
                    <th>&nbsp;</th>
                </thead>

                <!-- Table Body -->
                <tbody>
                    <tr th:each="bracket : ${brackets}">
                        <td th:text="${bracket.name}"></td>
                        <!-- Bracket Info -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</html>