<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="body(bracketForm)" class="bracket-body">
     <!--Top Half -->
    <div class="bracket-row">
    <!--@include('brackets.first_rounds',[ 'regionl' => $regions->get(0)->region,'regionr' => $regions->get(1)->region,-->
    <!--'r1c' => 1, 'r2c' => 1, 'r3c' => 1 ])-->
        <div th:replace="bracket/section :: first_rounds(,
        ${T(org.srang.madness.manager.model.types.Region.RegionType).REGION_A},
        ${T(org.srang.madness.manager.model.types.Region.RegionType).REGION_B})"></div>
    </div>

    <!--&lt;!&ndash; Middle &ndash;&gt;-->
    <!--<div class="bracket-row">-->
    <!--<div class="col-md-2 bracket-round">-->
    <!--<h4 class="bracket-round-title">{{ $regions->get(0)->region }} Finals</h4>-->
    <!--@include($game_container,[ 'game' => $games->get('4')->shift(), 'game_num' => 1 ])-->
    <!--<br>-->
    <!--<h4 class="bracket-round-title">{{ $regions->get(1)->region }} Finals</h4>-->
    <!--@include($game_container,[ 'game' => $games->get('4')->shift(), 'game_num' => 2 ])-->
    <!--</div>&lt;!&ndash;-->
    <!--&ndash;&gt;-->
    <!--<div class="col-md-2 bracket-round">-->
    <!--<h4 class="bracket-round-title">Final Four</h4>-->
    <!--@include($game_container,[ 'game' => $games->get('5')->shift(), 'game_num' => 1 ])-->
    <!--</div>&lt;!&ndash;-->
    <!--&ndash;&gt;-->
    <!--<div class="col-md-4 bracket-round">-->
    <!--<div class="col-md-8 col-md-offset-2">-->
    <!--<h4 class="bracket-round-title">National Championship</h4>-->
    <!--@include($game_container,[ 'game' => $games->get('6')->shift(), 'game_num' => 1 ])-->
    <!--</div>-->
    <!--</div>&lt;!&ndash;-->
    <!--&ndash;&gt;-->
    <!--<div class="col-md-2 bracket-round">-->
    <!--<h4 class="bracket-round-title">Final Four</h4>-->
    <!--@include($game_container,[ 'game' => $games->get('5')->shift(), 'game_num' => 2 ])-->
    <!--</div>&lt;!&ndash;-->
    <!--&ndash;&gt;-->
    <!--<div class="col-md-2 bracket-round">-->
    <!--<h4 class="bracket-round-title">{{ $regions->get(2)->region }} Finals</h4>-->
    <!--@include($game_container,[ 'game' => $games->get('4')->shift(), 'game_num' => 3 ])-->
    <!--<br>-->
    <!--<h4 class="bracket-round-title">{{ $regions->get(3)->region }} Finals</h4>-->
    <!--@include($game_container,[ 'game' => $games->get('4')->shift(), 'game_num' => 4 ])-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Bottom Half &ndash;&gt;-->
    <!--<div class="bracket-row">-->
    <!--@include('brackets.first_rounds',[ 'regionl' => $regions->get(2)->region,'regionr' => $regions->get(3)->region,-->
    <!--'r1c' => 17, 'r2c' => 9, 'r3c' => 5 ])-->
    <!--</div>-->
</div>
</body>
</html>