<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/base">
<th:block layout:fragment="custom-css">
    <link rel="stylesheet" th:href="@{/dist/css/select2.min.css}" />
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <div class="panel-body">
            <!-- Master Bracket Create Form -->
            <form th:action="@{/app/admin/brackets/master}" role="form" th:object="${bracketForm}" method="post">
                <div th:replace="fragments/page_element :: form_errors"></div>
                <div th:replace="fragments/page_element :: back_button(@{/app/admin/brackets})"></div>
                 <!--Submit Button -->
                <div class="row">
                    <div class="form-group btn-group pull-right">
                        <button class="btn btn-danger" id="start-madness" data-toggle="tooltip" data-placement="bottom" title="Save and Open Submissions">
                            <i class="fa fa-btn fa-warning"></i> Start
                        </button>
                        <input type="hidden" name="start_madness" value="false" id="madness-flag" />
                        <input type="hidden" name="name" value="Master Bracket" />
                        <button type="submit" class="btn btn-success" id="save-button" data-toggle="tooltip" data-placement="bottom" title="Save Master Bracket">
                            <i class="fa fa-btn fa-save"></i> Save
                        </button>
                    </div>
                </div>
                <div class="row master-bracket">
                    <div class="col-md-3" th:each="region : ${regions}">
                        <h3 class="region-header" th:text="${region.name}"></h3>
                        <div th:each="first : ${matchups}"
                        th:with="
                            index=${17-first},
                            firstId='region-'+${region.name}+'-rank-'+${first},
                            secondId='region-'+${region.name}+'-rank-'+${index}
                                ">
                            <div class="form-group">
                                <div class="row">
                                    <span class="rank-info text-right col-md-3" th:text="${first} "></span>
                                    <div class="text-left col-md-9">

                                        <label th:for="${firstId}" class="control-label master-label">
                                            <!--<div>-->
                                                <!--firstName=${bracketForm.rankedTeams[region.name][first]},-->
                                                <!--secondName=${bracketForm.rankedTeams[region.name][index]}-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash;@if (!empty($old_val=old($firstname)))&ndash;&gt;-->
                                            <!--&lt;!&ndash;{{ $old_val }}&ndash;&gt;asdf-->
                                        <!--</label>-->
                                        <!--<input type="text" th:name="${firstId}" th:id="${firstId}" class="form-control master-input hide">-->
                                        <!--@elseif (!empty($team=$teamRepo->byRankRegion($first,$region->region)))-->
                                        <!--<span class="team-name" style="background-color: #{{ $team->primary_color }}; color: #{{ $team->accent_color }};">-->
                                                    <!--{{ $team->name }}-->
                                                <!--</span>-->
                                        <!--</label>-->
                                        <!--<input type="text" name="{{ $firstname }}" id="{{ $firstid }}" class="form-control master-input hide" value="{{ $team->name }}">-->
                                        <!--@else-->
                                        <span class="placeholder" th:text="|Team ${first}|"></span>
                                        </label>
                                        <input type="text" class="hide" th:field="*{rankedTeams[__${region.name}__][__${first}__]}" th:id="__${firstId}__-actual" />
                                        <select type="text" th:field="*{rankedTeams[__${region.name}__][__${first}__]}" th:id="${firstId}" class="form-control master-input hide">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="rank-info text-right col-md-3" th:text="${index}"></span>
                                    <div class="text-left col-md-9">
                                        <label th:for="${secondId}" class="control-label master-label">

                                        <span class="placeholder" th:text="|Team ${index}|"></span>
                                        </label>
                                        <input type="text" class="hide" th:field="*{rankedTeams[__${region.name}__][__${index}__]}" th:id="__${secondId}__-actual" />
                                        <select th:id="${secondId}" class="form-control master-input hide">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>
<th:block layout:fragment="custom-js">
    <script th:src="@{/dist/js/select2.min.js}" />
    <script th:src="@{/dist/js/master_bracket.min.js}" />
    <script th:inline="javascript">
        /*<![CDATA[*/
        var teams = /*[[${teams}]]*/ '';
        /*]]>*/
    </script>
</th:block>
</html>