<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/base">
<th:block layout:fragment="custom-css">
    <link rel="stylesheet" th:href="@{/dist/css/select2.min.css}" />
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <div class="panel-body">
            <!-- Master Bracket Create Form -->
            <form th:action="@{/app/admin/brackets/master}" role="form" th:object="${bracketForm}" method="post">
                <div th:replace="fragments/page_element :: form_errors"></div>
                <div th:replace="fragments/page_element :: back_button(@{/app/admin/brackets})"></div>
                <!-- Submit Button -->
                <!--<div class="row">-->
                    <!--<div class="form-group btn-group pull-right">-->
                        <!--<button class="btn btn-danger" id="start-madness" data-toggle="tooltip" data-placement="bottom" title="Save and Open Submissions">-->
                            <!--<i class="fa fa-btn fa-warning"></i> Start-->
                        <!--</button>-->
                        <!--<input type="hidden" name="start_madness" value="false" id="madness-flag" >-->
                        <!--<input type="hidden" name="name" value="Master Bracket" >-->
                        <!--<button type="submit" class="btn btn-success" id="save-button" data-toggle="tooltip" data-placement="bottom" title="Save Master Bracket">-->
                            <!--<i class="fa fa-btn fa-save"></i> Save-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row master-bracket">-->
                    <!--@foreach ($regions as $region)-->
                    <!--<div class="col-md-3">-->
                        <!--<h3 class="region-header">{{ $region->region }}</h3>-->
                        <!--@foreach ($matchups as $first)-->
                        <!--{{&#45;&#45;*/ $firstid='region-'.$region->region.'-rank-'.$first /*&#45;&#45;}}-->
                        <!--{{&#45;&#45;*/ $firstname='team['.$region->region.']['.$first.']' /*&#45;&#45;}}-->
                        <!--{{&#45;&#45;*/ $secondid='region-'.$region->region.'-rank-'.($region_size+1-$first) /*&#45;&#45;}}-->
                        <!--{{&#45;&#45;*/ $secondname='team['.$region->region.']['.($region_size+1-$first).']' /*&#45;&#45;}}-->
                        <!--<div class="form-group">-->
                            <!--<div class="row">-->
                                <!--<span class="rank-info text-right col-md-3">#{{ $first}} </span>-->
                                <!--<div class="text-left col-md-9">-->
                                    <!--<label for="{{ $firstid }}" class="control-label master-label @if ($errors->has($firstname)) has-error @endif">-->
                                        <!--@if (!empty($old_val=old($firstname)))-->
                                        <!--{{ $old_val }}-->
                                    <!--</label>-->
                                    <!--<input type="text" name="{{ $firstname }}" id="{{ $firstid }}" class="form-control master-input hide" value="{{ $old_val }}">-->
                                    <!--@elseif (!empty($team=$teamRepo->byRankRegion($first,$region->region)))-->
                                    <!--<span class="team-name" style="background-color: #{{ $team->primary_color }}; color: #{{ $team->accent_color }};">-->
                                                <!--{{ $team->name }}-->
                                            <!--</span>-->
                                    <!--</label>-->
                                    <!--<input type="text" name="{{ $firstname }}" id="{{ $firstid }}" class="form-control master-input hide" value="{{ $team->name }}">-->
                                    <!--@else-->
                                    <!--<span class="placeholder">{{ 'Team '.$first }}</span>-->
                                    <!--</label>-->
                                    <!--<input type="text" name="{{ $firstname }}" id="{{ $firstid }}" class="form-control master-input hide" >-->
                                    <!--@endif-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<span class="rank-info text-right col-md-3">#{{ $region_size+1-$first }} </span>-->
                                <!--<div class="text-left col-md-9">-->
                                    <!--<label for="{{ $secondid }}" class="control-label master-label @if ($errors->has($secondname)) has-error @endif">-->
                                        <!--@if (!empty($old_val=old($secondname)))-->
                                        <!--{{$old_val}}-->
                                    <!--</label>-->
                                    <!--<input type="text" name="{{ $secondname }}" id="{{ $secondid }}" class="form-control master-input hide" value="{{ $old_val }}">-->
                                    <!--@elseif (!empty($team=$teamRepo->byRankRegion(($region_size+1-$first),$region->region)))-->
                                    <!--<span class="team-name" style="background-color: #{{ $team->primary_color }}; color: #{{ $team->accent_color }};">-->
                                                <!--{{ $team->name }}-->
                                            <!--</span>-->
                                    <!--</label>-->
                                    <!--<input type="text" name="{{ $secondname }}" id="{{ $secondid }}" class="form-control master-input hide" value="{{ $team->name }}">-->
                                    <!--@else-->
                                    <!--<span class="placeholder">{{'Team '.($region_size+1-$first)}}</span>-->
                                    <!--</label>-->
                                    <!--<input type="text" name="{{ $secondname }}" id="{{ $secondid }}" class="form-control master-input hide" value="">-->
                                    <!--@endif-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--@endforeach {{&#45;&#45; rows &#45;&#45;}}-->
                    <!--</div>-->
                    <!--@endforeach {{&#45;&#45; columns &#45;&#45;}}-->
                <!--</div>-->
            </form>
        </div>
    </div>
</th:block>
<th:block layout:fragment="custom-js">
    <script th:src="@{/dist/js/select2.min.js}" />
    <script th:src="@{/dist/js/master_bracket.min.js}" />
</th:block>
</html>