<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="game_button(roundId, index)" class="bracket-game">
        <button class="btn btn-team" th:attr="data-id=|G-${roundId}-${index}-A|">
            <span class="pull-left team-rank" th:id="|G-${roundId}-${index}-A-rank|"></span>
            <span class="team-name" th:id="|G-${roundId}-${index}-A-name|"></span>
        </button>
        <button class="btn btn-team" th:attr="data-id=|G-${roundId}-${index}-B|">
            <span class="pull-left team-rank" th:id="|G-${roundId}-${index}-B-rank|"></span>
            <span class="team-name" th:id="|G-${roundId}-${index}-B-name|"></span>
        </button>
</div>
</body>
</html>