<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="game_button(roundId, index)" class="bracket-game">
        <!--{{&#45;&#45; $team_a = $teamRepo->byName(!empty(old('games.'.$game->round_id.'.'.$game_num.'.T1'))?old('games.'.$game->round_id.'.'.$game_num.'.T1'):$teamRepo->byTeamId($game->team_a)->name) &#45;&#45;}}-->
        <!--{{&#45;&#45; $team_a = !empty(old('games.'.$game->round_id.'.'.$game_num.'.T2'))?$teamRepo->byName(old('games.'.$game->round_id.'.'.$game_num.'.T2')):$teamRepo->byTeamId($game->team_b) &#45;&#45;}}-->
        <!--{{&#45;&#45;*/ $team_a = !empty(old('games.'.$game->round_id.'.'.$game_num.'.T1'))?$teamRepo->byName(old('games.'.$game->round_id.'.'.$game_num.'.T1')):$teamRepo->byTeamId($game->team_a) /*&#45;&#45;}}-->
        <!--{{&#45;&#45;*/ $team_b = !empty(old('games.'.$game->round_id.'.'.$game_num.'.T2'))?$teamRepo->byName(old('games.'.$game->round_id.'.'.$game_num.'.T2')):$teamRepo->byTeamId($game->team_b) /*&#45;&#45;}}-->
    <!--id="R{{ $game->round_id }}G{{ $game_num }}T1B"-->
        <button class="btn btn-team" >
            <span class="pull-left team-rank" th:id="|G-${roundId}-${index}-A-rank|"></span>
            <span class="team-name" th:id="|G-${roundId}-${index}-A-name|"></span>
        </button>
    <!--id="R{{ $game->round_id }}G{{ $game_num }}T2B"-->
        <button class="btn btn-team" >
            <span class="pull-left team-rank" th:id="|G-${roundId}-${index}-B-rank|"></span>
            <span class="team-name" th:id="|G-${roundId}-${index}-B-name|"></span>
        </button>
</div>
<div th:fragment="game_label()" class="bracket-game">
    <p>game_label</p>
    <!--{{&#45;&#45;*/ $team_a = $teamRepo->byTeamId($game->team_a) /*&#45;&#45;}}-->
    <!--{{&#45;&#45;*/ $team_b = $teamRepo->byTeamId($game->team_b) /*&#45;&#45;}}-->
    <!--<p class="game-label team-name" style="background-color: #{{ $team_a->primary_color }}; color: #{{ $team_a->accent_color }};">-->
        <!--<span class="team-rank">#{{ $team_a->rank }}</span>-->
        <!--<span class="team-name">{{ $team_a->name }}</span>-->
    <!--</p>-->
    <!--<p class="game-label team-name" style="background-color: #{{ $team_b->primary_color }}; color: #{{ $team_b->accent_color }};">-->
        <!--<span class="team-rank">#{{ $team_b->rank }}</span>-->
        <!--<span class="team-name">{{ $team_b->name }}</span>-->
        <!--</label>-->
</div>
</body>
</html>