<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/base">
<th:block layout:fragment="custom-css">
    <link rel="stylesheet" th:href="@{/dist/css/select2.min.css}"/>
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <div class="panel-body">
            <!-- Master Bracket Create Form -->
            <form th:action="@{/app/admin/brackets/test}" role="form" th:object="${bracketForm}" method="post">
                <div th:replace="fragments/page_element :: form_errors"></div>
                <div th:replace="fragments/page_element :: back_button(@{/app/admin/brackets})"></div>
                <!--Submit Button -->
                <div th:each="region : ${regions}">
                    <div th:each="oregion,stat : ${otherRegions}">

                        <input type="text" th:field="*{testList[__${region.name}__][__${stat.index}__]}"/>
                    </div>
                </div>
                <input type="submit" />
            </form>
        </div>
    </div>
</th:block>
</html>